version: '2'
services:
  mongo:
    image: mongo
    ports:
      - "27017:27017"
  mongo-gui:
    image: mongo-express
    environment:
      - "ME_CONFIG_MONGODB_SERVER=mongo"
      - "ME_CONFIG_MONGODB_PORT=27017"
    ports:
      - "8081:8081"
    links:
      - mongo
    depends_on:
      - mongo
  web:
    image: ankyrinrepeat/foobar
    ports:
     - "8080:8080"
    environment:
     - MONGODB_URI=mongodb://mongo:27017/user
     - MONGOLAB_URI=mongodb://mongo:27017/user
     - MONGO_GUI_URI=mongo-gui
     - MONGO_SANDBOX_URI=mongodb://mongo:27017/sandbox
    links:
     - mongo
     - mongo-gui
    depends_on:
     - mongo
     - mongo-gui
    volumes:
     - .:/starter
     - /starter/node_modules
