extends layout

block content
  h1 MongoDB Sandbox
  p.lead A sandbox environment for testing MongoDB.
  hr
  .row
    form(role='form', enctype='multipart/form-data', method='POST' action='/home/upload')
      input(type='hidden', name='_csrf', value=_csrf)
      .col-sm-6
        h2 Collection Name
        p MongoDB stores data in collections. Collections are similar to tables in relational databases like MySQL.
        div.form-group
          label(for='name') Name:
          input#name.form-control(type='text', placeholder='Collection Name' name='name' required)
      .col-sm-6
        h2 Upload File
        p Upload CSV files to your MongoDB table.
          .form-group
            label.control-label File Input
            input(type='file', name='myFiles' accept=".csv" multiple)
          // Waiting cursor
          script.
            var waiting = function() {
              $("body").css("cursor", "progress");
            }
          button.btn.btn-primary(type='submit' onclick='waiting()') Submit
          
            
    .col-sm-6
      h2 MongoDB GUI
      p Launch a MongoDB GUI to view the collections you have added to your database. 
      p
        a.btn.btn-default(href=process.env.MONGO_GUI_URI || '#', role='button') Launch MongoDB GUI
    .col-sm-6
      h2 OpenShift Terminal
      p Launch the openshift terminal to access your MongoDB
      p
        a.btn.btn-default(href=process.env.OPENSHIFT_TERMINAL_URI || '#', role='button') Launch OC Terminal
      p 
        |
        span.bg-secondary.padded oc login -u [GitLab Username] -p [GitLab Password]
        | to log into your OpenShift Account
      p
        span.bg-secondary.padded oc project [Project Name]
        | to select which OpenShift project to access
      p 
      span.bg-secondary.padded oc rsh [mongo-pod]
      | will start a remote shell interface with your MongoDB instance. To find your pod use 
      |
      span.bg-secondary.padded oc get pods  
      p
        span.bg-secondary.padded mongo
        | will start a MongoDB Shell session  
